<div class="product-item shadow-sm">
    <img class="img-fluid w-100" [src]="product.productImageURL" [alt]="product.productName" (error)="this.handleMissingImage($event)">
    <div class="product-item-details">
        <p>
            <span class="product-item-price">{{product.productUnitPrice | currency}}</span>
            <span class="product-item-unit" *ngIf="productUnitExists()"> per {{product.productUnit.valueOf() | lowercase}}</span>
        </p>
        <p class="product-item-name">{{product.productName}}</p>
    </div>
</div>