:host {
    width: 100%;
}

.products-toolbar {
    display: flex;
    justify-content: center;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 16rem);
    justify-content: center;
}

.products-not-found {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10rem;
    text-align: center;
}