<div class="m-2 overflow-auto" [ngStyle]='{"height": "calc(100% - 4.2rem)"}'>
    <div class="m-3 d-flex justify-content-center">
        <input id="search-bar" type="text" class="form-control w-50" [(ngModel)]="searchQuery">
        <button id="search-btn" (click)="onSearchBtnClick()" class="btn"><i class="bi bi-search"></i></button>
    </div>
    <div class="m-3">
        <div class="container m-auto row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5">
            <div *ngFor="let product of products" class="col" [ngStyle]="{'padding-botttom': '15px'}">
                <div class="card shadow-sm h-100">
                    <img class="img-fluid w-100" [src]="product.productImageURL" [alt]="product.productName">
                    <div class="card-body">
                        <p class="font-weight-bold">Rs. {{product.productUnitPrice}}</p>
                        <p class="card-text sm-90">{{product.productName}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-page-navigator
        *ngIf="totalPages > 0"
        [totalPages]="totalPages" 
        [currentPage]="pageNumber + 1" 
        (currentPageChange)="onPageNumberClick($event)">
    </app-page-navigator>
</div>